.modal-general {
    background-color: $c1;
    border-radius: .3rem;
    padding: 10rem 3rem;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50rem;
    max-width: 100%;

    &--shadow {
        box-shadow: $bs1;
        margin-bottom: 5rem;
    }

    &__close {
        display: block;
        position: absolute;
        top: 2.5rem;
        right: 2.5rem;
        width: 2rem;
        height: 2rem;
        text-indent: -9999px;
        background-image: url(../img/close-popup-dark.svg);
        background-size: cover;
    }

    &__heading {
        @include flex-prop(30,40);
        font-weight: 300;
        color: $c6;
        text-align: center;
        margin-bottom: .25em;
        &--mb {
            margin-bottom: 1em;
        }
        &--light {
            font-weight: 100;
        }
    }

    &__subheading {
        text-transform: uppercase;
        font-size: 1.3rem;
        color: #85929F;
        letter-spacing: .1em;
        text-align: center;
    }

    &__link {
        display: block;
        text-align: center;
        font-size: 1.3rem;
        color: $c11;
        text-decoration: underline;
    }

    &__text-wrap {
        color: $c9;
        max-width: 40rem;
        margin: auto;
        text-align: center;
    }

    &__btn-wrap {
        margin-top: 4rem;
        display: flex;
        justify-content: center;
    }

    &__input-wrap {
        margin-top: 3.6rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    &__btn {
        &:not(:last-child) {
            margin-right: 1rem;
        }
    }
}