.header {
    color: $c6;
    border-bottom: .1rem solid rgba($c7, .5);
    &__container {
        height: 7rem;
        max-width: calc( #{$headerContainer} + 4rem );
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__links {
        display: flex;
        align-items: center;
        height: 100%;
    }
    &__nav {
        margin-left: 2rem;
    }
    &__logo {
        font-size: 2.4rem;
        margin-bottom: 0;
        font-weight: 400;
        a {
            text-decoration: none;
        }
        &--standalone {
            margin-bottom: 4rem;
            &:after {
                display: none !important;
            }
        }
        &:after {
            content: '';
            display: inline-block;
            width: .2rem;
            height: 2rem;
            background-color: $c7;
            vertical-align: -.2rem;
            margin-left: 2rem;
        }
    }
    &__user {
        display: flex;
        align-items: center;
        position: relative;
        &__notice {
            position: relative;
            width: 1.7rem;
            height: 1.9rem;
            margin-right: 3rem;
            background-image: url(../img/bell.svg);
            display: inline-block;
            text-indent: -9999px;
            &:after {
                text-indent: 0;
                content: attr(data-number);
                display: inline-block;
                position: absolute;
                top: -5px;
                right: -8px;
                font-size: .8rem;
                width: 1.4rem;
                height: 1.4rem;
                line-height: 1.4rem;
                text-align: center;
                background-color: $c8;
                color: $c1;
                border-radius: 50%;
            }
        }
        &__img {
            width: 2.4rem;
            height: 2.4rem;
            margin-right: 1rem;
            display: block;
            border-radius: 50%;
        }
        &__profile {
            display: flex;
        }
        &__name {
            &:after {
                content: '';
                display: inline-block;
                width: 1rem;
                height: 1rem;
                background-image: url(../img/user-arrow.svg);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                margin-left: .5rem;
            }
        }
    }
    &__menu {
        box-shadow: $bs1;
        position: absolute;
        right: 0;
        top: 4.9rem;
        padding: 3rem;
        background-color: $c1;
        min-width: 32rem;
        transform: translateY(20px);
        visibility: hidden;
        opacity: 0;
        transition: all .4s;
        z-index: 1;
        &--visible {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
        &__heading {
            margin-bottom: 3rem;
        }
        &__nav {
            padding: 2.5rem 0;
            border-top: .1rem solid rgba($c7, .5);
            border-bottom: .1rem solid rgba($c7, .5);
        }
        &__nav-item {
            &:not(:last-child) {
                margin-bottom: .5rem;                
            }
        }
        &__nav-link {
            display: block;
            transition: color .3s;
            &:hover {
                color: $c11
            }
        }
        &__logout {
            font-size: 1.4rem;
            font-weight: 700;
            margin-top: 3rem;
            display: block;
            &:before {
                content: '';
                display: inline-block;
                width: 1.5rem;
                height: 1.5rem;
                background-image: url(../img/logout.svg);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                margin-right: .5rem;
                vertical-align: sub;
            }
        }
    }
    &__notifications {
        position: absolute;
        top: 7.1rem;
        z-index: 1;
        text-indent: 0;
        width: 46rem;
        max-width: 100%;
        right: 0;
        transform: translateY(20px);
        visibility: hidden;
        opacity: 0;
        transition: all .4s;
        &--visible {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
    }
}