html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    color: $c2;
    line-height: $lineheight;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}


* {
    box-sizing: border-box;
}


.visually-hidden {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

.container {
    padding: 0 2rem;
    max-width: $container;
    max-width: calc( #{$container} + 4rem );
    margin: auto;
}


h1,
h2,
h3 {
    font-weight: 400;
    line-height: 1.25em;
    letter-spacing: 0.015em;
    &:first-of-type {
        margin-top: 0;
    }
}

h1,
.h1 {
    @include flex-prop(24,38);
    margin: 0;
    margin-bottom: .5em;
    font-weight: 700;
}

h2,
.h2 {
    font-weight: 500;
    // @include flex-prop(18,20);
    font-size: 2rem;
    margin-bottom: .5em;
    &--large {
        text-align: center;
        @include flex-prop(24,38);        
        font-weight: 300;
        margin-bottom: 1.25em;
    }
}

h3 {
    // @include flex-prop(16,21);
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: .5em;
    margin-top: .75em;
}

h4,
.h4 {
    font-weight: normal;
    @include flex-prop(22,30);
    margin-bottom: .5em;
    line-height: 1em;
    letter-spacing: -.01em;
}

img {
    display: block;
    max-width: 100%;
    &.align-center {
        margin: 1em auto;
    }
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

a {
    color: currentColor;
    text-decoration: none;

}

a:not([class]) {
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}

main {
    padding-top: 7.5rem;
    min-height: 100vh;
    background-color: $c5;

    &.empty {
        padding: 3rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

.clearfix:after,
.clearfix:before {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.show-on-focus {
    position: absolute; 
    left: -10000px; 
    top: auto; 
    width: 1px; 
    height: 1px; 
    overflow: hidden;
    
    &:focus {
        z-index: 9999;
        height: auto;
        left: auto;
        width: auto;
        position: relative;
    }
}

.hidden {
    display: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.absolute-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba($c6,.7);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: scroll;
    &--hidden {
        display: none;
    }
}

.description {
    font-style: italic;
    font-size: 1.3rem;
    color: $c9;
}



@media(min-width: $sm * 1em) {
    .container {
        padding: 0 4%;
        max-width: $container;
        max-width: calc( #{$container} + 8% );
        margin: auto;
    }
}

@media(min-width: $headerBreak * 1em) {
    
}

@media(min-width: $lg * 1em) {
    
}



